* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial, sans-serif;
	font-size: 0.6vmax;
	color: #FFFFFF;
	background: url("background.jpg");
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
#header {
	display: flex;
	padding: 0.5vmax 8vmax 0.5vmax 8vmax;
	align-items: center;
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 1.25vmax;
	background-color: rgba(1, 1, 1, 0.2);
}
#logo {
	flex: 0 0 2.5vmax;
	margin-right: 0.5vmax;
}
#logo img {
	display: block;
	width: 100%;
}
#header_title {
	display: block;
	flex: 1 0 0;
}
#header_links {
	word-spacing: 2vmax;
}
#content_container {
	display: flex;
	flex-direction: column;
	margin-top: 1vmax;
	padding: 0 8vmax 0 8vmax;
}
div.content_title {
	margin-bottom: 0.5vmax;
	padding: 0.4vmax;
	font-size: 0.8vmax;
	background-color: #535353;
	border-radius: 0.2vmax;
}
div.content {
	margin-bottom: 0.5vmax;
	padding: 0.4vmax;
	word-wrap: break-word;
	background-color: #5E5E5E;
	border-radius: 0.2vmax;
}
#profile_header {
	display: flex;
	margin-top: 9vmax;
	padding: 0.5vmax 8vmax 0.5vmax 8vmax;
	align-items: center;
	font-size: 0.8vmax;
	word-spacing: 2vmax;
	background-color: rgba(1, 1, 1, 0.5);
}
#profile_content {
	flex: 1 0 0;
	background-color: #5E5E5E;
}